version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: fastapi_libreria_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: fastapi_libreria_api
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
      - SECRET_KEY= ${SECRET_KEY}
      - ACCESS_TOKEN_EXPIRE_MINUTES= ${ACCESS_TOKEN_EXPIRE_MINUTES}

  cache:
    image: redis:alpine
    container_name: fastapi_libreria_cache
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:


